<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org",
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>View post</title>
</head>
<body>
<form th:action="@{'/index'}" method="get">
    <button type="Submit">Back to HomePage</button>
</form>
<table   th:object="${post}" border="0" cellpadding="10">
    <tr>
        <td >
            <img th:src="@{'http://127.0.0.1:8080/painting/files/'+${post.imagePath}}" width="550"/>

        </td>
    </tr>
    <tr>
        <td> <h1><span th:utext="*{ptitle}"></span></h1>
    </tr>
    <tr>
        <td> <span th:utext="*{pauthor}"> </span>
    </tr>

    <tr>
        <td> <span th:utext="*{pdescription}"></span>
    </tr>




    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" th:action="@{'/post/paint/'+${post.pid}}">
            <div>

                Upload an image:

                <input type="file" class="custom-file-input" name="image" value="Upload" style="padding-bottom: 5px"/>
            </div>


            Convert your image:
            <div sec:authorize="hasAnyAuthority('ARTIST')">
                <input type="submit" value="Convert" >
            </div>

    </form>
    </div>
    <div sec:authorize="hasAnyAuthority('ARTIST')">
        <a href="http://127.0.0.1:8080/painting/personal/download.jpg"> Download </a>
    </div>

    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{'/post/delete/'+${post.pid}}">Delete</a>
    </div>

    <div sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{'/post/edit/'+${post.pid}}">Edit</a>
    </div>



</table>

</body>
</html>